pager = "less -R"

[add]
    secrets = "error"

[edit]
    apply = true

[git]
    autoCommit = true
    autoPush = true

[hooks.edit-config-template.post]
    command = "chezmoi"
    args = ["init"]

[merge]
    {{- if eq .chezmoi.os "linux" }}
    command = "nvim"
    args = [
        "-d",
        {{ printf "%q" "{{ .Destination }}" }},
        {{ printf "%q" "{{ .Source }}" }},
        {{ printf "%q" "{{ .Target }}" }},
    ]
    {{ end }}

[diff]
    {{- if eq .chezmoi.os "linux" }}
    command = "nvim"
    args = ["-d"]
    {{ end -}}
    exclude = ["scripts"]
